**/bin/
**/obj/
.vs/
.idea/
*.user
*.suo
*.cache
*.log
*.pdb
*.dll
*.exe
*.deps.json
*.runtimeconfig.json
node_modules/
.env
.env.*
secrets.json
**/secrets.json
*.pem
*.pfx
*.key
*.crt
*.kubeconfig
*.zip
**/.DS_Store
